/*Animação na area que atuo/pretendo*/

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 90%;
        border-right: 5px solid rgba(255, 255, 255, 0);
    }
}

@keyframes blinkCursor {
    20% {
        border-right-color: transparent;
    }
    80% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
}

@keyframes animanomebefore {
    from {
        left: -120px;
        opacity: -220;
    }
}


/*Animação no meu nome*/

@keyframes animanome {
    from {
        left: -120px;
        opacity: -220;
    }
}


/*  animação na parte onde colo cidade,curso...*/

@keyframes animaSobre {
    from {
        left: -120px;
        opacity: -220;
    }
}