

@keyframes typing{
    0%{
        width: 0%;
    }
  
}

@keyframes blink {
    0%{
        border-color: transparent; 
    }
50%{
  
        border-right-color: rgba(255, 255, 255, 0.75);
    }
}

/*  animação na parte onde colo cidade,curso...*/

@keyframes anima {
    from {
        left: -120px;
        opacity: -220;
    }
}



[data-anime] {
    opacity: 0;
    transition: .8s;
}

[data-anime="left"] {
    transform: translate3d(-10%, 0, 0);
}


[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}