

:root {

    --font: 'Passion One', cursive;

    --resto: 'Roboto Serif', serif;
    --fontSize: 32px;
    --fontMedia: 22px;
    --fontMobile: 18px;
    --espaco: 2px;
}


@media (max-width:1199px) {

    body {
        overflow-x: hidden;
    }

    nav {
        display: inherit;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburguer {
        display: block;
        width: 40px;
        border-top: 6px solid;
        color: #DA0037;
    }

    .hamburguer::before,
    .hamburguer::after {
        display: block;
        content: "";
        height: 6px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        color: #DA0037;
    }

    #nav.active .hamburguer {
        color: transparent;
    }

    #nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -11px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 55px;
        right: 0px;
        z-index: 1;
        transition: .8s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        background-color: #444444;
        height: calc(100vh - 55px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid black;
    }

    #header {
        padding: 2rem;
    }

    h3.nomeDev {
        top: 30px;
        width: 255px;
    }


    .parte2 p {
       text-align: center;
    }



    .parte1, .parte2 {
        align-items: center;
        width: 100%;


    }

    .apresentacao {
        position: relative;
        height: 100%;

    }


    .sobre {

        flex-direction: column;
    }

   
}

@media (max-width:800px) {
    .icons {
        font-size: 25px
    }


    h1.nome {
        font-size: var(--fontMedia);
    }

    h3.nomeDev {
        margin: 10px 0;
    }

    .sobreInf p {
        font-size: var(--fontMedia);
    }

    .conteudo-projetos {
        padding: 10px 0;
    }

    .conteudo-projetos::before {
        right: -45px;
    }

   
}

@media (max-width:500px) {

    .sobreInf p {
        font-size: var(--fontMobile);
    }


   


}