@media (max-width:1199px) {
    body {
        overflow-x: hidden;
    }
    nav {
        display: inherit;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    .hamburguer {
        display: block;
        width: 40px;
        border-top: 6px solid;
        color: #DA0037;
    }
    .hamburguer::before,
    .hamburguer::after {
        display: block;
        content: "";
        height: 6px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        color: #DA0037;
    }
    #nav.active .hamburguer {
        color: transparent;
    }
    #nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -11px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 55px;
        right: 0px;
        z-index: 1;
        transition: .8s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        background-color: #444444;
        height: calc(100vh - 55px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid black;
    }
    h1.nome::before {
        font-size: 1rem;
        top: -10px;
    }
    .parte1 {
        width: 100%;
        align-items: center;
    }
    h1.nome {
        font-size: 1.8rem;
    }
    footer {
        height: 170px;
    }
}

@media (max-width:800px) {
    .conteudo-projetos {
        padding: 10px 0;
    }
    .conteudo-projetos::before {
        right: -45px;
    }
    .parte2 p,
    .sobreInf p {
        font-size: 18px;
    }
    h1.nome {
        font-size: 1.8rem;
    }
    h1.nome::before {
        top: -10px;
    }
    .roadmap h1 {
        font-size: var(--fontmedia);
    }
    .parte2 {
        margin-top: 50px;
        height: 500px;
    }
}

@media (max-width:450px) {
    .parte2 {
        height: 350px;
    }
    h1.nome {
        top: 20px;
        font-size: 22px;
    }
    h1.nome::before {
        font-size: 1rem;
    }
    .parte2 p,
    .sobreInf p {
        font-size: 14px;
    }
    .icons {
        font-size: var(--fontmedia);
    }
    .imgGil {
        width: 200px;
        height: 200px;
    }
}