@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100&family=Righteous&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');


:root {
    --fontPrimaria: 'Poppins', sans-serif;
    --font2: 'Passion One', cursive;

    --resto: 'Roboto Serif', serif;
    --fontSize: 32px;
    --fontMedia: 22px;
    --fontMobile: 18px;
    --espaco: 2px;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 50px #EDEDED;
    border-radius: 100px;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #171717;
    font-family: var(--fontPrimaria);
    margin: 0;
    padding: 0;
}

.content {
    color: #EDEDED;
    height: auto;
    width: 100%;

}

.meio {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto;



}

.titulo {

    text-align: center;
    color: #EDEDED;

}

#header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;
    justify-content: space-between;


}
.redesSociais a,header a{
    text-decoration: none;
    font-weight: bolder;
    text-decoration: none;
    color: #EDEDED;
}
#logo {
    font-family: var(--font);
    font-size: var(--fontSize);
    letter-spacing: var(--espaco);
    display: inherit;
    transform: rotate(360deg);
    transition: transform .6s;
}


#menu {
    display: flex;
    list-style: none;
    gap: .9rem;
}

#menu a {
    position: relative;
    letter-spacing: var(--espaco);
    display: block;
    padding: .4rem;
    color: #ffffff;
}

#btn-mobile {
    display: none;
}

#menu a::after {
    content: "";
    position: absolute;
    background-color: #ff3737;
    width: 0;
    height: var(--espaco);
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

#menu a:hover:after {
    width: 100%;
    transition: 0.6s;
    background-color: #EDEDED;
}



.sobre {
    color: #fff;

    display: flex;

    align-items: center;
    justify-content: space-around;

}

.parte1 .sobreInf,
.parte2 {

    animation-name: anima;
    animation-duration: 6.5s;
}

.parte1 {
    display: flex;


    justify-content: center;
    flex-direction: column;

}

.parte2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}

.parte2 p {
    font-size: var(--fontMobile);
    letter-spacing: var(--espaco);
    font-weight: 600;


}

.skills {
    margin: 0;
    position: relative;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills img {
    margin: 5px;
    width: 40px;
    height: 40px;

}

.parte1 p {

    font-size: var(--fontMedia);
}

.icons {
    font-size: var(--fontSize);
    letter-spacing: 10px;
    color: #EDEDED;

}



.parte1 p {
    margin: 0;

    position: relative;
    font-weight: bolder;
    line-height: 2rem;
}

h1.nome {
    position: relative;
    letter-spacing: 6px;
    font-size: var(--fontSize);
    top: 0px;
    text-shadow: #171717 0 2px;
}

h3.nomeDev {


    position: relative;
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    width: 100%;

    font-size: var(--fontMobile);
    font-weight: bolder;
    top: 50px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(99), blink .2s step-end infinite alternate;
}

.carrouselProjetos, .meuCertificados main {

    position: relative;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

}

.figureCertificados {
    margin: 10px;
    display: flex;
    box-shadow: 0 0 10px #444444;
    flex-direction: column;


}

.certificado {
    width: 350px;
    height: 200px;

}

.nomeCurso {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: #EDEDED;
    font-family: var(--resto);
    letter-spacing: var(--espaco);



}

.nomeCurso a {
    color: #EDEDED;
    cursor: pointer;
}

.meusprojetos {
    box-shadow: 0 0 10px #444444;
    margin: 10px;

    background: url('../img/GITHUB-PROFILE2.png') center no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 00px;
    font-weight: 700;
    position: relative;
    width: 350px;
    height: 400px;

}

.meusprojetos:nth-child(2) {
    background: url('../img/codeapp.png') center no-repeat;
}

.meusprojetos:nth-child(3) {
    background: url('../img/webword.png') center no-repeat;
}

.meusprojetos:nth-child(4) {
    background: url('../img/pariquera.png') center no-repeat;
}

.conteudo-projetos {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #DA0037;
    color: #EDEDED;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform 0.25s;

}

.conteudo-projetos::before {
    content: "";
    position: absolute;
    top: -47px;
    right: -35px;
    z-index: -5;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #DA0037;
}

.conteudo-projetos h3,
.conteudo-projetos span,
.conteudo-projetos p {
    padding: 0 5px;
}

.conteudo-projetos h3 {
    font-size: 1.1em;
    line-height: 5px;
    letter-spacing: 0px;
}

.conteudo-projetos span {
    display: block;
    font-size: 14px;
}

.conteudo-projetos p {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.25s;
}

.meusprojetos:hover .conteudo-projetos {
    transform: translateY(0);
}

.meusprojetos:hover .conteudo-projetos p {
    opacity: 1;
    transition-delay: 0.25s;
}

.roadmap {
    width: 100%;
    position: relative;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.historicoCursos,
.historicoProfissao {
    color: #EDEDED;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0px;
    height: 500px;
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
}

.roadmap .historicoCursos h1 {
    position: relative;
    text-align: center;
    top: 10px;
}

.linha {
    top: 0;
    padding: 0;
    margin: 0;
    width: var(--espaco);
    height: 100px;
    position: relative;
    background-color: #444444;
}

.linha::before {
    top: 10px;
    text-align: center;
    right: 4px;
    background-color: #DA0037;
    content: " Programador 2016/2017";
    position: absolute;
    width: 130px;
    height: var(--espaco);
}

.linha::after {
    text-align: center;
    top: 130px;
    left: 4px;
    background-color: #DA0037;
    content: "Desenvolvimento de Sistemas 2020/2021";
    position: absolute;
    width: 170px;
    height: var(--espaco);
}

.linha2 {
    margin: 0;
    width: var(--espaco);
    height: 250px;
    position: relative;
    background-color: #444444;
}

.linha2::before {
    text-align: center;
    top: 150px;
    right: 4px;
    background-color: #DA0037;
    content: "Desenvolvimento FullStack (2022/2022)";
    position: absolute;
    width: 160px;
    height: var(--espaco);
}


.linha2::after {
    text-align: center;
    bottom: 0px;
    left: 4px;
    background-color: #DA0037;
    content: "Engenharia de Software  (2022 até 2025)";
    position: absolute;
    width: 160px;
    height: var(--espaco);
}

.linhaprofissoes {
    top: 0;
    padding: 0;
    margin: 0;
    width: var(--espaco);
    height: 100px;
    position: relative;
    background-color: #444444;
}

.linhaprofissoes2 {
    margin: 0;
    width: var(--espaco);
    height: 250px;
    position: relative;
    background-color: #444444;
}

.linhaprofissoes::before {
    text-align: center;
    top: 10px;
    right: 4px;
    background-color: #DA0037;
    content: "Empacotador 2017/2018";
    position: absolute;
    width: 160px;
    height: var(--espaco);
}

.linhaprofissoes::after {
    text-align: center;
    top: 150px;
    left: 4px;
    background-color: #DA0037;
    content: "Auxiliar de Limpeza 2019 até hoje";
    position: absolute;
    width: 160px;
    height: var(--espaco);
}

.linhaprofissoes2::after {
    text-align: center;
    top: 150px;
    right: 4px;
    background-color: #DA0037;
    content: "Futuro Desenvolvedor / Analista";
    position: absolute;
    width: 160px;
    height: var(--espaco);
    display: f;
    flex-wrap: wrap;
}

.contatos {
    color: #EDEDED;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contatos form {
    display: flex;
    flex-direction: column;

}

.contatos form label {
    padding: 10px 0;
    font-weight: bolder;
    font-size: 1.3rem;
}

.contatos form input {
    font-size: 1rem;
    height: 50px;
    border: none;
    outline: none;
    transition: ease-in-out, width .35s ease-in-out;
    padding: 0 20px;
}

.contatos form input::placeholder {
    position: relative;
    padding: 10px;
}

.contatos form .button {
    margin: auto;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border: none;
    color: #EDEDED;
    background-color: green;
}

.pstatus {
    text-align: center;
    color: forestgreen;
    font-size: 2rem;
    font-weight: bolder;
}

footer {
    letter-spacing: var(--espaco);

    top: 0px;
    height: auto;
    color: #EDEDED;
    line-height: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

}

.carousel {
  
    width: 250px;

}

footer .euImg { margin: 0 auto;
    width: auto;
    height: 300px;
}