        @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100&family=Righteous&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
         :root {
            --fontPrimaria: 'Poppins', sans-serif;
            --font: 'Passion One', cursive;
            /*ja ta*/
            --font2: 'Righteous', cursive;
            /*ja ta*/
            --resto: 'Roboto Serif', serif;
            --fontSize: 32px;
            --fontmedia: 24px;
            --fontMobile: 1rem;
            --espaco: 3px;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        body {
            box-sizing: border-box;
            font-family: var(--fontPrimaria);
            background-color: rgb(10, 10, 10);
            color: aliceblue;
            margin: 0;
            padding: 0;
        }
        
        div.content {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        .meio {
            margin: 0 auto;
            position: relative;
            width: 90%;
            height: 100%;
        }
        
        nav {
            background-color: #002d52;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            top: 0px;
            height: 60px;
        }
        
        .nav-list {
            list-style-type: none;
            display: flex;
        }
        
        .nav-list li {
            font-size: var(--fontmedia);
            letter-spacing: 3px;
            margin-left: 20px;
        }
        
        .nav-list li a,
        .logo {
            position: relative;
            text-decoration: none;
            color: #fff;
        }
        
        .nav-list li a::after {
            content: "";
            position: absolute;
            background-color: rgb(0, 183, 255);
            width: 0;
            height: 3px;
            left: 0;
            bottom: -5px;
            transition: 0.5s;
        }
        
        .nav-list li a:hover:after {
            width: 100%;
        }
        
        .logo {
            font-size: var(--fontSize);
            letter-spacing: 4px;
            text-align: left;
            text-transform: uppercase;
        }
        
        .logo::before {
            content: "<";
        }
        
        .logo::after {
            content: ">";
        }
        
        .mobile-menu {
            display: none;
            cursor: pointer;
        }
        
        .mobile-menu div {
            width: 32px;
            height: 2px;
            background-color: #fff;
            margin: 8px;
        }
        
        .sobre {
            padding: 40px 0;
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
        }
        
        .parte1 {
            flex: 1;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70%;
        }
        
        .parte2 {
            text-align: center;
            animation-name: animaSobre;
            animation-duration: 7s;
            flex: 1;
        }
        
        .parte2 p {
            width: 90%;
            text-align: justify;
        }
        
        .imgGil {
            box-shadow: 0px 0px 20px rgb(0, 0, 0);
            border-radius: 100%;
            width: 240px;
            height: 240px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            transition: 1s
        }
        
        .parte3 {
            position: relative;
            width: 100%;
            background-color: aquamarine;
        }
        
        .icons {
            color: #008cff;
            font-size: var(--fontSize);
            position: relative;
            left: -10px;
        }
        
        .sobreInf h4 {
            line-height: 0px;
        }
        
        .sobre h4 {
            letter-spacing: var(--espaco);
            position: relative;
            left: 20px;
            font-size: var(--font);
            animation-name: animaSobre;
            animation-duration: 7s;
        }
        
        h1.nome {
            animation-name: animanome;
            animation-duration: 1s;
            width: 800px;
            position: relative;
            letter-spacing: 5px;
            left: 20px;
            font-size: 3em;
        }
        
        h1.nome::before {
            position: absolute;
            content: "</ Desenvolvedor Front-End >";
            border-right: 2px solid rgba(255, 255, 255, 0.75);
            color: rgba(255, 255, 255, 0.75);
            font-size: 16px;
            left: 0px;
            text-align: center;
            top: -30px;
            white-space: nowrap;
            overflow: hidden;
            animation: blinkCursor 800ms steps(40) infinite normal, typing 3s steps(40) 3s normal both;
        }
        
        .animacoes {
            animation-name: animaSobre;
            animation-duration: 7s;
        }
        
        .projetos {
            text-align: center;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #002d52;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .meusprojetos {
            box-shadow: 0px 0px 10px #011729;
            margin: 10px;
            background: url('../img/GITHUB-PROFILE2.png') center no-repeat;
            background-size: cover;
            overflow: hidden;
            border-radius: 00px;
            font-weight: 700;
            position: relative;
            width: 350px;
            height: 400px;
        }
        
        .meusprojetos:nth-child(2) {
            background: url('../img/codeapp.png') center no-repeat;
        }
        
        .meusprojetos:nth-child(3) {
            background: url('../img/webword.png') center no-repeat;
        }
        
        .meusprojetos:nth-child(4) {
            background: url('../img/pariquera.png') center no-repeat;
        }
        
        .conteudo-projetos {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: #002d52;
            border-top-left-radius: 20px;
            transform: translateY(70px);
            transition: transform 0.25s;
        }
        
        .conteudo-projetos::before {
            content: "";
            position: absolute;
            top: -47px;
            right: -35px;
            z-index: -5;
            width: 100px;
            height: 100px;
            transform: rotate(-175deg);
            border-radius: 50%;
            box-shadow: inset 48px 48px #002d52;
        }
        
        .conteudo-projetos h3,
        .conteudo-projetos span,
        .conteudo-projetos p {
            padding: 0 5px;
        }
        
        .conteudo-projetos h3 {
            font-size: 1.1em;
            line-height: 5px;
            letter-spacing: 0px;
        }
        
        .conteudo-projetos span {
            display: block;
            font-size: 14px;
        }
        
        .conteudo-projetos p {
            font-size: 14px;
            opacity: 0;
            transition: opacity 0.25s;
        }
        
        .meusprojetos:hover .conteudo-projetos {
            transform: translateY(0);
        }
        
        .meusprojetos:hover .conteudo-projetos p {
            opacity: 1;
            transition-delay: 0.25s;
        }
        
        .roadmap {
            width: 100%;
            position: relative;
            padding: 50px 0;
            background-color: #002d52;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .historicoCursos,
        .historicoProfissao {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            margin: 20px;
            height: 500px;
            flex-direction: column;
            align-items: center;
        }
        
        .roadmap .historicoCursos h1 {
            position: relative;
            text-align: center;
            top: 10px;
        }
        
        .linha {
            top: 0;
            padding: 0;
            margin: 0;
            width: 3px;
            height: 100px;
            position: relative;
            background-color: #ffffff;
        }
        
        .linha::before {
            top: 10px;
            text-align: center;
            right: 4px;
            background-color: rgb(0, 183, 255);
            content: " Programador 2016/2017";
            position: absolute;
            width: 130px;
            height: 3px;
        }
        
        .linha::after {
            text-align: center;
            top: 130px;
            left: 4px;
            background-color: rgb(0, 183, 255);
            content: "Desenvovimento de Sistemas 2020/2021";
            position: absolute;
            width: 170px;
            height: 3px;
        }
        
        .linha2 {
            margin: 0;
            width: 3px;
            height: 250px;
            position: relative;
            background-color: #ffffff;
        }
        
        .linha2::before {
            text-align: center;
            top: 150px;
            right: 4px;
            background-color: rgb(0, 183, 255);
            content: "Engenharia de Software 2022 até 2025";
            position: absolute;
            width: 160px;
            height: 3px;
        }
        
        .linhaprofissoes {
            top: 0;
            padding: 0;
            margin: 0;
            width: 3px;
            height: 100px;
            position: relative;
            background-color: #ffffff;
        }
        
        .linhaprofissoes2 {
            margin: 0;
            width: 3px;
            height: 250px;
            position: relative;
            background-color: #ffffff;
        }
        
        .linhaprofissoes::before {
            text-align: center;
            top: 10px;
            right: 4px;
            background-color: rgb(0, 183, 255);
            content: "Empacotador 2017/2018";
            position: absolute;
            width: 160px;
            height: 3px;
        }
        
        .linhaprofissoes::after {
            text-align: center;
            top: 150px;
            left: 4px;
            background-color: rgb(0, 183, 255);
            content: "Auxiliar de Limpeza 2019 até hoje";
            position: absolute;
            width: 160px;
            height: 3px;
        }
        
        .linhaprofissoes2::after {
            text-align: center;
            top: 150px;
            right: 4px;
            background-color: rgb(0, 183, 255);
            content: "Fututo Desenvolvedor Front End";
            position: absolute;
            width: 160px;
            height: 3px;
        }
        /*
.nav-list.active {
    transform: translateX(0);
}*/
        
        .contatos {
            background-color: #008cff;
            width: 100%;
            height: 700px;
            top: 0px;
            position: relative;
        }
        
        footer {
            background-color: #002d52;
            width: 100%;
            top: 0px;
            height: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /*
        @media (max-width:1119px) {
            body {
                background-color: rgb(51, 255, 0);
                overflow-x: hidden;
                /* background-color: red;*/
        /*
            }
            .nav {
                height: 20px;
                background-color: aqua;
            }
          
            h1.nome {
                font-size: var(--fontSize);
            }
            h1.nome::before {
                top: -20px;
            }
            .logo {
                position: relative;
                text-align: center;
            }
            .nav-list {
                position: absolute;
                top: 8vh;
                width: 50vw;
                height: 92vh;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                z-index: 100;
                right: 0;
                transform: translate(100%);
                transition: transform 0.3s ease-in;
                /*  ease-in uma chegada suave*/
        /*
            }
            .nav-list li {
                margin-left: 0px;
                opacity: 0;
            }
            .mobile-menu {
                display: block;
            }
        }
        */
        
        @media (max-width:750px) {
            body {
                overflow-x: hidden;
                font-size: var(--fontMobile);
            }
            nav {
                height: 80px;
            }
            .logo {
                text-align: center;
                width: 80%;
            }
            /*
            .sobre {
                padding: 90px 0px;
            }*/
            h1.nome {
                font-size: 2em;
                left: 20px;
            }
            h1.nome::before {
                top: -20px;
                left: 20px;
                font-size: 16px;
            }
            .nav-list {
                display: none;
                background-color: red;
                /*
                top: 7vh;
                width: 10vw;
                height: 70vh;
                right: 0;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                z-index: 1;
                transform: translateX(100%);*/
            }
            .nav-list li {
                margin-left: 0px;
                opacity: 0;
            }
            .mobile-menu {
                display: block;
            }
            .roadmap h1 {
                font-size: var(--fontmedia);
            }
            .icons {
                letter-spacing: var(--espaco);
                font-size: 2.5em;
            }
        }
        
        @media (max-width:550px) {
            body {
                font-size: var(--fontMobile);
            }
            h1.nome {
                font-size: 1.5em;
            }
        }